@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=Merriweather:wght@300&family=Mochiy+Pop+One&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=Merriweather:wght@300&family=Mochiy+Pop+One&family=Updock&display=swap');
*,*:focus {outline:none !important;}
ul#tabs-nav li:hover{
  background-color: rgba(212, 212, 212, 0.315);
  transition: all 0.2s;
}
ul#tabs-nav li.active {
  background-color: rgb(255, 255, 255);
  letter-spacing: 1px;
  transition: all 0.3s;
}
ul{
    margin-left: -25px;
}
#tabs-nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#tabs-nav li {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
.tab-content {
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
}
.container{
    background-color: rgba(110, 120, 210, 0.884);
    padding: 10px;
    margin-top: 4%;
    border-radius: 10px;
    min-height: 80vh;
}
#content-side{
  overflow-y: scroll;
  height: 80vh;
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
    padding: 4px;
    background-image: linear-gradient(to bottom right,rgba(51, 71, 255, 0.932), rgb(103, 118, 255),rgba(100, 255, 255, 0.966));
}
.profile_active{
  /* width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 5px;
  padding: 4px; */
  background-image: linear-gradient(to  right,rgba(51, 71, 255, 0.548),rgba(100, 255, 255, 0.966),rgba(100, 255, 255, 0.966),rgba(100, 255, 255, 0.966));
  filter: blur(0.8px);
  padding: 4px;
}


.profile-b{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
  border: 3px solid rgba(32, 32, 32, 0.514);
}
#side-bar{
  border-right: 1px solid rgb(99, 99, 99);
}
.tabs-nav-b{
  background-color: rgba(110, 120, 210, 0.979) ;
  justify-content: space-around ;
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  #side-bar{
    display: none;
  }
  .container{
    margin-top: 0;
    border-radius: 0;
  }
  #content-side{
    margin-bottom: 15%;
    height: 100%;
  }
  .tabs-nav-b{
    visibility: visible;
    width: 80%;
  }
  .container{
   min-height: 100vh;
    overflow: hidden;
}
.insta{
display: none;
}

#up{
  margin-top:15px !important;
}
#l-up{
  margin-top: -15px !important;

}

}

#up{
  margin-top: -14%;
}



.sidenav {
  height: auto;
  width: 0;
  /* position: fixed; */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  margin-top: 6%;
  padding-bottom: 1%;
  margin-left: 30%;
  border-radius: 5px;
}



.sidenav .closebtn {
  /* position: absolute; */
  text-decoration: none;
  color: red;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#tabs-content {
  transition: margin-left 1s;
  padding: 16px;
}
.sikll-img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.call{
  border: 1px solid rgb(47, 154, 255);
  padding: 4px 25px;
  border-radius: 6px;
  transition: all 0.4s;
}
.call:hover{
 background-color: rgb(47, 154, 255);
 color: black;
}
#tab4,#tab1{
  /* background-color: rgba(0, 0, 0, 0); */
  all: unset;
}
.sub-content{
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
}
.contact-icon{
  justify-content: space-around;
}
.facebook ,.maill, .insta{
  font-size: 23px;
  font-weight: 900;
  border: 1px solid violet;
  padding: 0 25px; 
  border-radius: 6px;
}
.maill{
  color: black;
}
.insta{
  color: red;
}











.modal__dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}




/* Functionality and looks */

.modal__dialog:target {
	opacity:5;
	pointer-events: auto;
}

.modal__dialog > div {
	width: 95%;
	position: relative;
	margin: 35% auto;
	padding: 5px 20px 13px 20px;
	border-radius:10px 10px 0  0;
	background: #fff;
	background: -moz-linear-gradient(#fff, rgb(255, 255, 255));
	background: -webkit-linear-gradient(#fff, rgb(255, 255, 255));
	background: -o-linear-gradient(#fff, rgb(255, 255, 255));
  height: 100%;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
  transition: all .3s;
}

.close:hover { 
  background: #00d9ff;
}

#md-img{
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
.carousel-item img{
  height: 200px;
  object-fit: cover;
}
.carousel-caption{
  background-image: linear-gradient(to bottom right,rgb(128, 141, 255), rgba(113, 135, 255, 0), rgba(30, 64, 255, 0));
}
.fb , .fb:hover{
color: #000;
/* background-color: #FFFFFF; */
background-image: linear-gradient(to bottom right,rgba(51, 71, 255, 0.932), rgb(103, 118, 255),rgba(100, 255, 255, 0.966));

padding: 3px 25px;
border-radius: 5px;
}
.carousel-control-prev-icon ,.carousel-control-next-icon{
  background-color: rgb(59, 79, 255);
  border-radius: 5px;
}
.ensure{
  font-family: 'Dancing Script', cursive;
/* font-family: 'Fascinate', cursive; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Mochiy Pop One', sans-serif; */
/* font-family: 'Updock', cursive; */
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right,rgba(51, 71, 255, 0.932), rgb(103, 118, 255),rgba(100, 255, 255, 0.966)); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #917a7a; 
}


.card-project ,.card-project:hover{
  background-color: rgba(89, 97, 172, 0.884) !important;
  border: none !important;
  border-radius: 10px !important;
  cursor: pointer;
  /* height: 300px !important ; */
  color: rgb(255, 181, 181);
}
#link{
  margin-left: 85%;
  position: absolute;
  margin-top: 10px;
}
#responsive-bord{
  color: crimson;
  font-weight: 400;
  font-size: larger;

}

